<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Veterinaria PetCenter | Login </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="zeganet" name="author" />
    <link rel="shortcut icon" href="~/Content/assets/img/logo.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/logo.ico">
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="@Url.Content("~/Content/Styles/site/site2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/style.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/style-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/theme/default.css")" rel="stylesheet" id="theme" />
    <link href="@Url.Content("~/Content/assets/plugins/gritter/css/jquery.gritter.css")" rel="stylesheet" />
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    <script src="@Url.Content("~/Content/assets/plugins/pace/pace.min.js")"></script>
</head>

<body class="pace-top">
    @RenderSection("featured", required: false)
    @RenderBody()
</body>
</html>
