<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Veterinaria PetCenter</title>
    <script type="text/javascript">var baseUrl = "@Url.Content("~")"; </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryJs")
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/grid.locale-es.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/JQueryExtendsJs")

    <link href="@Url.Content("~/Content/Styles/normalize/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/site/site2.css")" rel = "stylesheet" />
    <link href="@Url.Content("~/Content/Styles/jquery.ui/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/jquery.ui/jquery-ui.multiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/jquery.pnotify/jquery.pnotify.default.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/poshytip/tip-yellow.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/jquery.qtip/jquery.qtip.css")" rel="stylesheet" />
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.extend.js"></script>
    <script src="~/Scripts/jquery.pnotify.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link href="~/Content/Styles/jquery.colorbox/colorbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.colorbox.js"></script>
    <script src='@Url.Content("~/Scripts/jquery.mask.min.js")'></script>
    <script src="~/Scripts/jquery.qtip.js"></script>
    <link href="~/Content/Styles/preloader/loading.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).on({
            ajaxStart: function () {
                $("body").addClass("loading");
            },
            ajaxStop: function () {
                $("body").removeClass("loading");
            }
        });

        (function ($) {
            if (!$.concat) {
                $.extend({
                    concat: function (a, b) {
                        var r = [];
                        for (x in arguments) {
                            r = r.concat(arguments[x]);
                        }
                        return r;
                    }
                });
            };
        })(jQuery);

        function CreateSessionMessageBox() {
            $('#DialogMensajeSession').dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                closeOnEscape: true,
                width: 400,
                position: 'top',
                draggable: true,
                title: ":: Mensaje ::",
                buttons:
                {
                    "Aceptar": function () {
                        window.top.location.href = '@Url.Action("Login", "Login")';
                    }
                }
            });
        }

        if (!Array.prototype.filter) {
            Array.prototype.filter = function (fun) {
                "use strict";

                if (this == null)
                    throw new TypeError();

                var t = Object(this);
                var len = t.length >>> 0;
                if (typeof fun != "function")
                    throw new TypeError();

                var res = [];
                var thisp = arguments[1];
                for (var i = 0; i < len; i++) {
                    if (i in t) {
                        var val = t[i];
                        if (fun.call(thisp, val, i, t))
                            res.push(val);
                    }
                }
                return res;
            };
        }

        $(document).unbind('keydown').bind('keydown', function (event) {
            var doPrevent = false;
            if (event.keyCode === 8) {
                var d = event.srcElement || event.target;
                if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD'))
                     || d.tagName.toUpperCase() === 'TEXTAREA') {
                    doPrevent = d.readOnly || d.disabled;
                }
                else {
                    doPrevent = true;
                }
            }
            if (doPrevent) {
                event.preventDefault();
            }
        });

        function alert_msgSession(message) {
            $('#DialogMensajeSession .message_text').html(message);
            $('#DialogMensajeSession').dialog('open');
        }

        $(document).ready(function () {
            CreateSessionMessageBox();

            $(document).bind('keydown keyup', function (e) {
                if (e.which === 116) {
                    return false;
                }
                if (e.which === 82 && e.ctrlKey) {
                    return false;
                }
            });
            $('body').unbind('ajaxSuccess');
            $('body').bind('ajaxSuccess', function (event, request, settings) {
                var cookieName = '@System.Configuration.ConfigurationManager.AppSettings["SessionCookie"]';
                var cookie = getCookie(cookieName);
                if (request.getResponseHeader('REQUIRES_AUTH') === '1') {
                    alert_msgSession("El tiempo de sesión ha expirado, en un momento será redireccionado a la pantalla de Login.")
                    setTimeout(function () { window.top.location.href = '@Url.Action("Login", "Login")' }, 5000);
                    return false;
                }
                else if (cookie == "1") {
                    alert_msgSession("El tiempo de sesión ha expirado, en un momento será redireccionado a la pantalla de Login.")
                    setTimeout(function () { window.top.location.href = '@Url.Action("Login", "Login")' }, 5000);
                    return false;
                }
            });
        });
    </script>
    <style>
        /*input {
            text-transform: uppercase;
        }*/
        input[type="text"] {
            height: 20px !important;
        }
    </style>
</head>
<body>
    @RenderSection("featured", required: false)
    @RenderBody()
    <div id="DialogMensajeSession" style="display: none;">
        <div class="message_text">
            Mensaje por defecto.
        </div>
    </div>
    <div class="modalScreen"></div>
</body>
</html>